<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
  <head>
	<title>{{page}}</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  </head>
  <body>
	<ul>	
		<li><a href="base_{{first}}.html">first</a></li>
		<li><a href="base_{{previous}}.html">previous</a></li>
		<li> {{title}} </li>
		<li><a href="base_{{next}}.html">next</a></li>
		<li><a href="base_{{last}}.html">last</a></li>
	</ul>
	<div id="photo"><img src="{{current}}"/></div>
  </body>
</html>